<!DOCTYPE HTML>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="images/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Laith Alquran. It uses data from external APIs to geolocate a city and find its current temperature</p>
            <img class="portrait" src="images/photo.jpg">
        </div>
        {{>footer}}
    </body>
</html>
